{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_sudoku/mot_sudoku_acp.css' %}

<h1>{{ lang('ACP_MOT_SUDOKU') ~ ' - ' ~ lang('ACP_MOT_SUDOKU_GAMEPACKS') }}</h1>
<p>{{ lang('ACP_MOT_SUDOKU_GAMEPACKS_EXPL') }}</p>
<br>

{#<form id="acp_mot_sudoku_gamepacks" method="post" enctype="application/x-www-form-urlencoded" action="{{ U_ACTION }}">#}
	<form id="acp_mot_sudoku_type_select" method="post" action="{{ U_ACP_MS_SELECT_ACTION }}">
		<fieldset class="quick">
			{{ lang('ACP_MOT_SUDOKU_SELECT_TYPE') ~ lang('COLON') }}
			<select id="acp_mot_sudoku_select_type" name="acp_mot_sudoku_select_type" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">
				{% for type_selection in type_selections %}
					<option value="{{ type_selection.VALUE }}" {% if ACP_MOT_SUDOKU_SELECT_TYPE == type_selection.VALUE %} selected {% endif %}>{{ type_selection.NAME }}</option>
				{% endfor %}
			</select>
			<input class="button2" type="submit" value="{{ lang('GO') }}">
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

	{% if pagination %}
	<div class="pagination top-pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table">
		<thead>
			<tr>
				<th style="text-align: center;">{{ lang('ACP_MOT_SUDOKU_GAME_PACK_NUMBER') }}</th>
				<th>{{ lang('ACP_MOT_SUDOKU_GAME_PACK_TYPE') }}</th>
				<th>{{ lang('ACP_MOT_SUDOKU_GAME_COUNT') }}</th>
				<th>{{ lang('ACP_MOT_SUDOKU_PACK_INSTALL_DATE') }}</th>
				<th style="text-align: center;">{{ lang('OPTIONS') }}</th>
			</tr>
		</thead>

		<tbody>
			{% for gamepack in gamepacks %}
				<tr>
					<td style="text-align: center;">{{ gamepack.PACK_NUMBER }}</td>
					<td>{{ gamepack.PACK_TYPE }}</td>
					<td>{{ gamepack.GAME_COUNT }}</td>
					<td>{{ gamepack.INSTALL_DATE }}</td>
					<td style="text-align: center;"><a href="{{ gamepack.U_DELETE }}">{{ ICON_DELETE }}</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" style="text-align: center;">{{ lang('ACP_MOT_SUDOKU_PACKS_NOENTRY') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
	<div class="pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	{{ S_FORM_TOKEN }}
{#</form>#}

<br><br>

<hr>

<form id="acp_mot_sudoku_file_upload" method="post" action="{{ U_ACTION_IMPORT_GAME_PACK }}" enctype="multipart/form-data">
	<fieldset>
		<legend>{{ lang('ACP_MOT_SUDOKU_UPLOAD_TITLE') }}</legend>
		{% if ACP_MOT_SUDOKU_FILE_UPLOAD %}
			<dl>
				<dt><label for="acp_mot_sudoku_file">{{ lang('ACP_MOT_SUDOKU_UPLOAD_XML') ~ lang('COLON') }}</label><p>{{ lang('ACP_MOT_SUDOKU_UPLOAD_XML_EXP') }}</p></dt>
				<dd>
					<input type="file" id="acp_mot_sudoku_file" name="acp_mot_sudoku_file[]" class="inputbox autowidth" accept=".xml" multiple>&nbsp;
					<input class="dt-button button1" type="submit" id="mot_sudoku_upload_file" name="mot_sudoku_upload_file" value="{{ lang('ACP_MOT_SUDOKU_UPLOAD') }}">
				</dd>
			</dl>
		{% else %}
			{{ lang('ACP_MOT_SUDOKU_UPLOAD_DISABLED') }}
		{% endif %}
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

<p class="centered_text">{{ ACP_MOT_SUDOKU_VERSION_STRING }}</p>

{% include 'overall_footer.html' %}
