/* General settings */
fieldset dt p {
	font-size: 11px;
}

fieldset legend {
	top: 0;
	margin-left: -11px;
	padding: 2px 10px;
	border-radius: 5px 5px 0 0;
	border-top: inherit;
	border-left: inherit;
	background-color: inherit;
}

/* style settings for version and copyright notice */
.centered_text {
	text-align: center;
	vertical-align: middle;
}

.warning_text {
	color: red;
	font-size: 1.0em;
}

.dt-button {
	padding: 5px !important;
}

/* phpBB ACP Toggles - A CSS class that makes it easy to display checkboxes as toggles.
   Source     : https://danklammer.com/articles/simple-css-toggle-switch/
   Reworked by: Kirk (adapted and optimized for phpBB), LukeWCS (optimized) */

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	font-family: FontAwesome;
	transition: background-color 0.3s;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background-color: #ffffff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
	transition: 0.3s;
}

.toggle,
.toggle:hover,
.toggle:focus {
	background-color: #cccccc;
/*	background-color: #c0c0c0;*/
/*	background-color: #aa0000;*/
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3b87ab;
/*	background-color: #494999;*/
/*	background-color: #3fa651;*/
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}
