<div id="mot_sudoku_modal" class="mot-sudoku-modal">
	<div id="mot_sudoku_modal_content" class="bg1 mot-sudoku-modal-content">
		<div id="mot_sudoku_modal_numbers" class="mot-sudoku-modal-numbers">
			<i><button id="mot_sudoku_modal_1" class="mot-sudoku-modal-button">1</button></i>
			<i><button id="mot_sudoku_modal_2" class="mot-sudoku-modal-button">2</button></i>
			<i><button id="mot_sudoku_modal_3" class="mot-sudoku-modal-button">3</button></i>
			<i><button id="mot_sudoku_modal_4" class="mot-sudoku-modal-button">4</button></i>
			<i><button id="mot_sudoku_modal_5" class="mot-sudoku-modal-button">5</button></i>
			<i><button id="mot_sudoku_modal_6" class="mot-sudoku-modal-button">6</button></i>
			<i><button id="mot_sudoku_modal_7" class="mot-sudoku-modal-button">7</button></i>
			<i><button id="mot_sudoku_modal_8" class="mot-sudoku-modal-button">8</button></i>
			<i><button id="mot_sudoku_modal_9" class="mot-sudoku-modal-button">9</button></i>
			<i><button id="mot_sudoku_modal_0" class="mot-sudoku-modal-button"><span class="icon fa-trash fa-fw"></span></button></i>
		</div>
	</div>
</div>
